
@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color: #B3C8CF">
    <div class="container text-white py-5">
        <div class="row align-items-center g-2">
            <div class="col-md-6">
                <h1 class="mb-5 display-2"><strong>Super Electronics Shop</strong></h1>
                <p>Your one-stop destination for the latest electronics at unbeatable prices. 
                    Discover cutting-edge gadgets, from smartphones to gaming consoles, all backed by fast shipping and top-notch customer service.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="./images/hero.png" class="img-fluid" alt="hero" />
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container py-4">
        <h2 class="pb-4 text-center">Newest Products</h2>

        <div class="row mb-5 g-3">
            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="rounded border shadow p-3 text-center h-100">       
                        <img src="/products/@product.ImageFileName" class="img-fluid" alt="..." style="height: 180px; object-fit: contain" />
                        <hr />
                        <h5 class="py-2">@product.Name</h5>
                        <p>Brand: @product.Brand, Category: @product.Category</p>
                        <h4 class="mb-3">@(product.Price)$</h4>
                        <a type="button" class="btn btn-primary btn-sm mb-2" asp-controller="Store" asp-action="Details" asp-route-id="@product.Id" role="button">Details</a>
                        <button type="button" class="btn btn-warning btn-sm mb-2">
                            Add to Cart <i class="bi bi-cart4"></i>
                        </button>
                    </div>    
                
                </div>
            }
        </div>
    </div>
</div>
